/* ====================
   global styles
   ==================== */

:root {
  --clr-primary-500: #474787;
  --clr-primary-600: #2C2C54;
  --clr-primary-700: #171741;

  --clr-neutral-200: #ECECEC;

  --ff-primary: 'Nunito', sans-serif;
  --ff-accent: 'Archivo', sans-serif;

  --fs-300: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
  --fs-400: clamp(1.2rem, 1.0959rem + 0.5207vw, 1.4994rem);
  --fs-500: clamp(1.44rem, 1.2457rem + 0.9717vw, 1.9988rem);
  --fs-600: clamp(1.7281rem, 1.4025rem + 1.6283vw, 2.6644rem);
  --fs-700: clamp(2.0738rem, 1.5596rem + 2.5707vw, 3.5519rem);
  --fs-800: clamp(2.4881rem, 1.7066rem + 3.9076vw, 4.735rem);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: var(--fs-300);
  line-height: 1.6;
  overflow-x: hidden;
  background-color: var(--clr-neutral-200);

}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

/* ====================
     typography
     ==================== */

h1,
h2,
h3 {
  line-height: 1;
  font-family: var(--ff-accent);
  font-weight: 700;
}

h2,
h3,
p {
  margin-bottom: 1em;
}

h1 {
  margin-top: 2.5rem;
  font-size: var(--fs-800);
}

h2, .secondary-h1 {
  font-size: var(--fs-600);
}

h3, .secondary-h2 {
  font-size: var(--fs-400);
}

h4, .secondary-h3 {
  font-size: var(--fs-300);
}

.subhead {
  font-size: var(--fs-400);
}

.text-center {
  text-align: center;
}

a {
  text-decoration: none;
  font-size: var(--fs-300);
}

.extra-space h3, .extra-space h2 {
  margin-top: 2em;
}

.extra-space h1 {
  margin-top: 0;
  margin-bottom: .4rem;
}

address {
  font-style: normal;
}


/* ====================
       components
       ==================== */


.main-button {
  color: #fff;
  background-color: var(--clr-primary-500);
  padding: .3em 1em;
  border-radius: 50px;
}

.secondary-button {
  color: #fff;
  padding: .6em 1.2em;
  background: none;
  border: 2px solid white;
  border-radius: 50px;
}



/* ====================
   Layout
   ==================== */


.section-spacing {
  padding: 4rem 0;
}

.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}

.sub-section {
  margin: 4rem 0;
}

.flip {
  flex-direction: row-reverse;
}

.center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.negative {
  color: #fff;
}

.bg-shade {
  background-color: var(--clr-primary-500);
}

.bg-purple {
  background-color: var(--clr-primary-600);
  color: var(--clr-neutral-200);
}

@media (min-width: 50em) {
  .section-spacing {
    padding: 7rem 0;
  }

  .split {
    display: flex;
  }

  .split>*+* {
    margin-left: 2em;
  }

  .split.flip>*+* {
    margin-right: 2em;
    margin-left: 0;
  }

  .split>* {
    flex-basis: 100%;
  }
}


/* ====================
   Img
   ==================== */


img {
  display: block;
  max-width: 100%;
  height: auto;
}

.image-container img {
  border-radius: 30px;
}

.image-container-small img {
  border-radius: 15px;
}

.img-section {
  padding-bottom: 3em;
}

.img-section .image-container {
  padding-bottom: 2em;
}

.short-img {
  margin-bottom: 2em;
  margin-top: 4em;
}

@media (min-width: 50em) {
  .img-section p {
    margin: 0;
  }

  .img-section {
    padding-bottom: 6em;
  }

  .img-section .image-container {
    padding-bottom: 0em;
  }
}



/* ====================
   Cards
   ==================== */


.card {
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;

}

.card-info {
  padding: 1.4em 2em;
}

@media (max-width: 50em) {
  .card img {
    width: 100%;
  }

  .card {
    margin-top: 2em;
  }
}



/* ====================
   Table
   ==================== */

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #fff;
}

th,
td {
  border: 1px solid rgb(199, 196, 208);
  padding: .6em;
  text-align: left;
}

th {
  background-color: var(--clr-primary-600);
  color: #fff;
}



/* ====================
   Footer
   ==================== */

footer a {
  color: #fff;
}

footer {
  padding-top: 5rem;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
}

.footer-content {
  text-align: center;
}


.footer-menu input {
  width: 25em;
  height: 2.8em;
  border-radius: 4px;
  border: none;
  text-align: center;
  margin-top: 1.25em;
  margin-bottom: 2.5em;
}

.footer-logo {
  width: 12rem;
}

.col-1 {
  display: flex;
  gap: 2em;
  margin-bottom: 4em;
}

.col-2 {
  margin-bottom: 4em;
  display: grid;
  grid-template-columns: 1fr;
}


.col-3 {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
}

.footer-bottom {
  background-color: var(--clr-primary-700);
}

.bootom-items {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
  padding-top: 1em;
}

@media (max-width: 45em) {

  .footer-menu,
  .bootom-items {
    flex-direction: column;
  }

  .bootom-items {
    text-align: center;
    gap: .5em;
  }
}

@media (min-width: 45em) {
  .col-1 {
    flex-direction: column;
    gap: .6em;
    margin-bottom: 0;
    text-align: left;
  }
}

@media (max-width: 45em) {
  .col-1 {
    justify-content: center;
  }
}

@media (min-width: 45em) {
  .col-2 {
    margin-bottom: 0;
  }
}


/* ====================
   Header
   ==================== */

.header-wrapper {
  margin-inline: auto;
  width: min(90%, 70.5rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.6em;
  margin-bottom: 1em;
}

.sr-only {
  display: none;
}

.header-logo {
  width: 10em;
}

.mobile-nav-toggle {
  display: none;
}

.primary-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-flex {
  display: flex;
  gap: 1.6rem;
}

nav a {
  color: #000;
}

@media (max-width: 35em) {
  .primary-navigation {
    gap: 2em;
    position: fixed;
    inset: 0 0 0 30%;

    padding: min(20vh, 10rem) 2em;
    flex-direction: column;

    transform: translateX(100%);
    transition: transform 350ms ease-out;

    background: #aeaede;
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }

  .mobile-nav-toggle {
    position: absolute;
    background: url(images/burger-menu.svg);
    background-repeat: repeat;
    background-repeat: no-repeat;
    width: 2rem;
    border: 0;
    aspect-ratio: 1;
    top: .6rem;
    right: 1.5rem;
    z-index: 9999;
    display: block;
  }
}