.museum-bg {
  background-image: url('/images/museum-bg.jpg');
  color: white;
  background-size: cover;
  text-align: center;
}

.hero-section-spacing {
  padding-bottom: 4rem;
  padding-top: 1rem;
}

@media (min-width: 50em) {
  .hero-section-spacing {
  padding-bottom: 7rem;
  padding-top: 1rem
}

.hero-section-spacing h1 {
  margin: 0;
}
}

.hero-small-images {
  display: flex;
  gap: 1em;
}

.tag {
  padding: .6em 2em;
  background-color: black;
  color: #fff;
  border-radius: 50px;
  width: fit-content;
  margin-bottom: 1em;
}

.hero-img {
  margin-bottom: 4em;
}

.hero-section-spacing h1 {
  margin-bottom: 1rem;
}

.nowrap {
  white-space: nowrap;
}