/* ====================
   global styles
   ==================== */

:root {
  --clr-primary-500: #7373ab;
  --clr-primary-600: #2C2C54;
  --clr-primary-700: #171741;

  --clr-neutral-400: #ECECEC;
  --clr-neutral-300: #cecee1;


  --ff-primary: 'Nunito', sans-serif;
  --ff-accent: 'Archivo', sans-serif;

  --fs-300: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
  --fs-400: clamp(1.2rem, 1.0959rem + 0.5207vw, 1.4994rem);
  --fs-500: clamp(1.44rem, 1.2457rem + 0.9717vw, 1.9988rem);
  --fs-600: clamp(1.7281rem, 1.4025rem + 1.6283vw, 2.6644rem);
  --fs-700: clamp(2.0738rem, 1.5596rem + 2.5707vw, 3.5519rem);
  --fs-800: clamp(2.4881rem, 1.7066rem + 3.9076vw, 4.735rem);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: var(--fs-300);
  line-height: 1.6;
  overflow-x: hidden;
  background-color: var(--clr-neutral-200);
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

/* ====================
     typography
     ==================== */

h1,
h2,
h3 {
  line-height: 1;
  font-family: var(--ff-accent);
  font-weight: 700;
}

h2,
h3,
p {
  margin-bottom: 1em;
}

h1 {
  margin-top: 2.5rem;
  font-size: var(--fs-800);
}

h2,
.secondary-h1 {
  font-size: var(--fs-600);
}

.secondary-h1 {
  margin-top: 0;
}

h3,
.secondary-h2 {
  font-size: var(--fs-400);
}

h4,
.secondary-h3 {
  font-size: var(--fs-300);
}

.subhead {
  font-size: var(--fs-400);
}

.text-center {
  text-align: center;
}

a {
  text-decoration: none;
  font-size: var(--fs-300);
}

address {
  font-style: normal;
}

.negative {
  color: #fff;
}

.date {
  margin-top: 0.6em;
}


/* ====================
       components
       ==================== */


.main-button {
  color: #fff;
  border: none;
  background-color: var(--clr-primary-500);
  padding: .4em 1em;
  border-radius: 50px;
  transition: transform 1000ms;
  font-size: var(--fs-300);
  margin-top: 1rem;
}

.main-button:hover {
  transform: translateY(-0.5rem);
  transition: transform 250ms;
  background-color: var(--clr-primary-600);
}

.secondary-button {
  color: #fff;
  padding: .6em 1.2em;
  background: none;
  border: 2px solid white;
  border-radius: 50px;
  transition: 1000ms;
}

.secondary-button:hover {
  transform: translateY(-0.5rem);
  transition: transform 250ms;
  background-color: #5b5bb0;
}


/* ====================
   Layout
   ==================== */


.section-spacing {
  padding: 4rem 0;
}

.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}

.flip {
  flex-direction: row-reverse;
}

.center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.bg-galaxy {
  background-image: url('/images/galaxy-bg.jpg');
  background-size: cover;
}

.bg-purple {
  background-color: var(--clr-primary-600);
}

.bg-shade {
  background-color: var(--clr-neutral-300);
}

.museum-bg {
  background-image: url('/images/museum-bg.jpg');
  color: white;
  background-size: cover;
  text-align: center;
}

.museum-bg p {
  text-align: left;
}

.double-paragraph-spacing {
  margin-bottom: 3rem;
}

@media (min-width: 50em) {
  .section-spacing {
    padding: 7rem 0;
  }

  .split {
    display: flex;
  }

  .split>*+* {
    margin-left: 2em;
  }

  .split.flip>*+* {
    margin-right: 2em;
    margin-left: 0;
  }

  .split>* {
    flex-basis: 100%;
  }

  .two-columns {
    column-count: 2;
    max-width: 80%;
    margin: 0 auto;
  }
}


/* ====================
   Img
   ==================== */


img {
  display: block;
  max-width: 100%;
  height: auto;
}

.image-container img {
  border-radius: 30px;
}

.image-container-small img {
  border-radius: 15px;
}

.short-img {
  margin-bottom: 2em;
  margin-top: 6em;
}

.exhibition-info>div {
  margin-bottom: 6em;
}

.exhibition-info div:last-child {
  margin-bottom: 0em;
}

@media (min-width: 50em) {
  
}
  
@media (max-width: 50em) {
  .exhibition-info>div {
    margin-bottom: 4em;
  }

  .exhibition-info img {
    margin-bottom: 2em;
  }

  .remove-on-mobile {
    display: none;
  }
}


/* ====================
   Image Gallery
   ==================== */


.image-grid-container {
  display: grid;
  gap: 2em;
  grid-template-areas:
    "left ."
    "left .";
  aspect-ratio: 1;
}

.img-card {
  border-radius: 30px;
  background-size: cover;
  background-position: center center;
}

.img-card1 {
  grid-area: left;
  background-image: url('/images/science-boy-1-1.jpg');
}

.img-card2 {
  background-image: url('/images/mammoth.jpg');
}

.img-card3 {
  background-image: url('/images/childgame.jpeg');
}

.img-card4 {
  background-image: url('/images/cafe.jpg');
  grid-area: left;
}

.img-card5 {
  background-image: url('/images/egg.jpg');
}

.img-card6 {
  background-image: url('/images/coffee.jpg');
}

@media (max-width: 50em) {
  .image-grid-container {
    margin-top: 2rem;
  }
}



/* ====================
   Event cards
   ==================== */


.card-container {
  display: flex;
  justify-content: space-between;
}

.card {
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  flex: 0 0 30%;
  min-width: 12.5em;
  max-width: 30em;
}

.card p {
  margin: 0;
}

.card img {
  width: 100%;
}

.card-info {
  padding: 1.4em 1.4em;
}

@media (max-width: 55em) {
  .card {
    margin: 2em auto 0;
  }

  .card-container {
    flex-direction: column;
  }
}


/* ====================
   Table
   ==================== */

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1.25em;
}

th,
td {
  border: 1px solid var(--clr-neutral-300);
  padding: .6em;
  text-align: left;
}

th {
  background-color: var(--clr-primary-600);
  color: #fff;
}


/* ====================
   Footer
   ==================== */

footer a {
  color: var(--clr-neutral-200);
}

footer {
  padding-top: 3rem;
}

.footer-menu {
  justify-content: space-between;
  color: #fff;
}

.footer-content {
  text-align: center;
}

.footer-menu input {
  width: 25em;
  height: 2.8em;
  border-radius: 4px;
  border: none;
  text-align: center;
  margin-top: 1.25em;
  margin-bottom: 2.5em;
}

.footer-logo {
  width: 10em;
}

.col-1 {
  display: flex;
  gap: 2em;
  margin-bottom: 4em;
}

.col-1 a:hover {
  color: var(--clr-neutral-300);
  transition: 250ms;
}

.col-2 {
  margin-bottom: 4em;
}

.col-3 {
  margin-bottom: 4em;
}

.col-3 img, .col-1 a  {
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
}

.footer-bottom {
  background-color: var(--clr-primary-700);
  color: var(--clr-primary-500);
  padding: 2em 0;
  margin-top: 2em;
}

.copyright {
  margin: 0;
}

.bootom-items {
  justify-content: space-between;
  text-align: center;
}

.bootom-items a {
    margin-right: 1em;
    text-decoration: underline;
}

.bootom-items div {
  margin-bottom: .6em;
}

.bootom-items a:hover {
  color: #fff;
  transition: 250ms;
}
  

@media (min-width: 45em) {

  footer {
    padding-top: 5rem;
  }

  .col-1 {
    flex-direction: column;
    gap: .6em;
    text-align: left;
    margin-bottom: 0;
  }

  .col-1 a {
    margin: 0;
  }

  .col-2 {
    margin-bottom: 1em;
  }

  .footer-menu, .bootom-items {
    display: flex;
  }

  .bootom-items div {
    margin-bottom: 0;
  }
}


/* ====================
   Header
   ==================== */


.header-wrapper {
  margin-inline: auto;
  width: min(90%, 70.5rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.6em;
  margin-bottom: 1em;
}

.sr-only {
  display: none;
}

.header-logo {
  width: 10em;
}

/* ====================
   Navigation
   ==================== */

.mobile-nav-toggle {
  display: none;
}

.primary-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-flex {
  display: flex;
  gap: 1.6rem;
}

nav a {
  color: #000;
  position: relative;
}

nav a:after {
  content: "";
  position: absolute;
  background-color: var(--clr-primary-600);
  height: 3px;
  width: 0%;
  left: 50%;
  bottom: -5px;
  transition: 0.3s;
  transform: translateX(-50%);
  border-radius: 3px
}

nav a:hover::after,
a.active::after {
  width: 100%;
}


@media (max-width: 35em) {
  .primary-navigation {
    gap: 2em;
    position: fixed;
    inset: 0 0 0 30%;

    padding: min(20vh, 10rem) 2em;
    flex-direction: column;

    transform: translateX(100%);
    transition: transform 350ms ease-out;
    background: var(--clr-neutral-300);
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }

  .mobile-nav-toggle {
    position: absolute;
    background: url(images/burger-menu.svg);
    background-repeat: repeat;
    background-repeat: no-repeat;
    width: 2rem;
    border: 0;
    aspect-ratio: 1;
    top: .6rem;
    right: 1.5rem;
    z-index: 9999;
    display: block;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url(images/close-circle.svg);
  }
}


/* ====================
   Hero section
   ==================== */


 .hero-section-spacing {
  padding-bottom: 4rem;
  padding-top: 1rem;
}

.hero-small-images {
  display: flex;
  gap: 1em;
}

.tag {
  padding: .6em 2em;
  background-color: #000;
  color: #fff;
  border-radius: 50px;
  width: fit-content;
  margin-bottom: 1em;
}

.hero-img {
  margin-bottom: 4em;
}

.hero-section-spacing h1 {
  margin-bottom: 1rem;
}

.nowrap {
  white-space: nowrap;
}

@media (min-width: 50em) {
  .hero-section-spacing {
    padding-bottom: 7rem;
    padding-top: 1rem
  }

  .hero-section-spacing h1 {
    margin: 0;
  }
}

/* ====================
   Form
   ==================== */

form {
  margin: 0 auto;
}

label {
  display: block;
  margin: .6em 0;
  font-weight: 600;
}

input,
textarea {
  width: 100%;
  padding: .4rem;
  border-radius: 10px;
  border: none;
}

input {
  margin-bottom: 1.6rem;
}

form div {
  margin: 0;
}

input:focus,
textarea:focus,
select:focus {
    border: 2px solid var(--clr-primary-700);
    outline: none;
}


/* ====================
   Animations
   ==================== */


@keyframes slideInLeft {
  from {
    transform: translateX(-300px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes zoomOut {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

.slideInLeft {
  animation: slideInLeft 1s ease;
}

.zoomIn {
  animation: zoomOut 1s ease;
}